* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace, Verdana, Geneva, Tahoma,
    sans-serif;
  font-weight: 800;
  font-size: medium;
  font-variant: normal;
  font-style: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.first-page,
.second-page,
.third-page {
  width: 100%;
  height: 100vh;
}

.third-page {
  display: none;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.9;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(77, 54, 47, 0.5);
  mix-blend-mode: overlay;
}

.mflexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: self-end;
  height: 50%;
}

.container {
  height: 90vh;
}

.content {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.input {
  background: transparent;
  border: none;
  border-bottom: thick solid white;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  transition: border 0.5s;
  padding: 5px 0;
  color: #ccc;
}

.input:focus {
  border-bottom-color: green;
  color: #eee;
}

.button {
  padding: 10px;
  text-transform: uppercase;
  color: #0f0;
  border: 0;
  border-radius: 20%;
  outline: none;
  transition: 0.8s ease-in-out;
  cursor: pointer;
  z-index: 20;
}

.ib {
  margin-top: 25px;
  margin-left: 50px;
}

.button:hover {
  background-color: green;
  font-weight: bold;
  color: #fff;
}

.link {
  text-decoration: none;
}

.error {
  color: #f56;
  margin-top: 15px;
  text-align: center;
  margin-left: -79px;
}
.attribution {
  height: 10vh;
  font-size: 11px;
  text-align: center;
  color: #fff;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.para,
.heading {
  color: white;
  height: 20vh;
}

.heading {
  font-weight: bolder;
  font-size: 36px;
}

.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 50vh;
}

/*media queries */

/* xx-phones */
@media screen and (max-width: 384px) and (orientation: portrait) {
  .heading {
    font-size: 20px;
  }
  .img-center {
    height: 30vh;
  }
  .para,
  .heading {
    height: 30vh;
  }
}

/* large phones */
@media screen and (max-width: 480px) and (min-width: 385px) and (orientation: portrait) {
  .img-center {
    height: 30vh;
  }
  .para,
  .heading {
    height: 30vh;
  }
}